hr{
    border-bottom:1px dotted #AAA;
  }     
  * {
    font-family: defaultFont !important;
  }
  h1 {
    font-size: 6em;
    /*font-weight: bold;*/
  }
  h2 {
    font-size: 3em;
    font-weight: bold;
  }
  p {
    font-size: 2em;
  }
  
  body{
    text-align: center;
    margin: 0px;
  }
  .historical{
   padding: 10px;
   margin-left: 105px;
   margin-right: 105px;
 }
.function {
  background-color: #f2f2f2;
}
.function h1 {
  margin: 0px;
  padding: 60px;
}

.detail{
  display: inline-block;
  width: 250px;
  margin: 0px 20px;
  vertical-align: top;
}
.historical p{
  font-size: 3em;
}

/*.coverBackground{
  background-image: url("../img/cover2.jpg");
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  background-size: cover;
}*/



#cover {
    background-image: url("../img/cover2.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    background-position: center;
 /*   opacity: 0.9;*/
}