.reviewImg {
	display: inline-block;
	padding:5px;
	text-align: center;

}
.review{
	display:inline;
	
}
.reviewArea{
	margin-top:50px;

}
.center{
    margin-left: auto;
    margin-right: auto;
    float: none;
}

#map_canvas  {
	width: 558px;
	height: 400px;
}
#reviewDataBodyLeft{
	width: 420px;
	height: 400px;
}
.footer{
	height:80px;

}


.reviewImg  {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.reviewImg:hover  {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);

}

#cover {
/*    background-image: url("../img/cover1.jpg");*/
  /*  background-position: center;*/
/*    opacity: 0.9;*/
  background: #6cab26;
background-image: url("../img/cover1.jpg"); /* fallback */
background-image: url("../img/cover1.jpg"), -webkit-gradient(linear, left top, left bottom, from(#6cab26), to(#6ceb86)); /* Saf4+, Chrome */
background-image: url("../img/cover1.jpg"), -webkit-linear-gradient(top, #6cab26, #6ceb86); /* Chrome 10+, Saf5.1+ */
background-image: url("../img/cover1.jpg"),    -moz-linear-gradient(top, #6cab26, #6ceb86); /* FF3.6+ */
background-image: url("../img/cover1.jpg"),      -o-linear-gradient(top, #6cab26, #6ceb86); /* Opera 11.10+ */
background-image: url("../img/cover1.jpg"),         linear-gradient(to bottom, #6cab26, #6ceb86); /* W3C */
}