.reviewImg {
	display: inline-block;
	padding:5px;
	text-align: center;

}
.review{
	display:inline;
	
}
.center{
    margin-left: auto;
    margin-right: auto;
    float: none;
}
#map_canvas  {
	width: 558px;
	height: 400px;
}
#reviewDataBodyLeft{
	width: 420px;
	height: 400px;
}
.reviewImg:hover {
    background-color: #DCDEE3;
} 

