 @font-face {
    font-family: defaultFont;
    /*src: url('{{ asset('fonts/Circular.ttf') }}');*/
    src: url('../fonts/Circular.ttf');
  }

@font-face {
    font-family: LayijiMahaniyom-Bao;
    src:url('../fonts/LayijiMahaniyom-Bao.ttf');

}
   footer *{
    font-family: defaultFont !important;
    text-align: center;
  }
footer{
  padding: 10px;
  margin:10px;
  margin: 0px;
}



#cover {
  font-family: defaultFont;
  height:100vh;
}
#cover .container-fluid {
  font-size: 20px;
}
#cover .navbar-brand {
  font-size: 24px;
}
#cover h1{
  color: white;
  font-size: 7em;
  margin: 0px;
  font-family: defaultFont;
}
#cover *{
    text-align: center;
}
.transparent {
  background-color: transparent !important;
}

.logo img {
  height:200px;
}

.logo button {
  margin-top:80px;
  border-color: white;
  border: 2px solid;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  text-decoration: underline;
  color: white;
}
.navbar-default .navbar-nav>li>a:hover {
  text-decoration: underline;
  color: white;
}

#cover {
    background-image: url("../img/cover1.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  /*  background-position: center;*/
/*    opacity: 0.9;*/
}

nav * {
  font-family: defaultFont !important;
}