 @font-face {
    font-family: defaultFont;
    /*src: url('{{ asset('fonts/Circular.ttf') }}');*/
    src: url('../fonts/Circular.ttf');
  }
   footer *{
    font-family: defaultFont !important;
    text-align: center;
  }
footer{
  padding: 10px;
  margin:10px;
  margin: 0px;
}

#cover {
  height:100vh;
}
#cover h1{
  color: white;
  font-size: 7em;
  margin: 0px;
  font-family: defaultFont;
}
#cover *{
    text-align: center;
}
.transparent {
  background-color: transparent !important;
}

.logo img {
  height:200px;
}

.logo button {
  margin-top:80px;
  border-color: white;
  border: 2px solid;
}